<template>
    <v-layout align-start >
    <v-flex xs12 sm6 md6>

      <v-avatar
        size="46px"
        align="left"
      >
        <img
          v-bind:src="imatge"
          alt="Avatar"
        >
      </v-avatar>

      <v-textarea
        solo
        name="comentari"
        no-resize
        label="Escriu un nou comentari"
        v-model="comentari"
      ></v-textarea>
      <v-card-actions>
        <v-spacer></v-spacer> <v-btn outlined color="primary" @click="addComment">Envia</v-btn>
      </v-card-actions>
    </v-flex>
      <v-flex xs12 sm6 md6>
    <v-list three-line >
      <template v-for="(item, index) in items">
        <v-subheader
          v-if="item.header"
          :key="item.header"
        >
          {{ item.header }}
        </v-subheader>

        <v-divider
          v-else-if="item.divider"
          :key="index"
          :inset="item.inset"
        ></v-divider>

        <v-list-tile
          v-else
          :key="item.title"
          avatar
        >
          <v-list-tile-avatar>
            <img :src="item.avatar">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title v-html="item.title"></v-list-tile-title>
            <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>

    </v-flex>

    </v-layout>

</template>

<script>
import * as firebase from 'firebase'
export default {
  name: 'Comments',
  props: {
    comentari: String,
    equipament: String
  },
  data () {
    return {
      items: this.obteComments(),
      imatge: firebase.auth().currentUser.photoURL
      /* items: [
        {header: 'Comentaris'},
        {
          avatar: 'https://lh3.googleusercontent.com/-47q316Ma2OM/AAAAAAAAAAI/AAAAAAAA-f4/HfgvmhLHkT4/photo.jpg',
          title: new Date().getDay() + '/' + new Date().getMonth() + '/' + new Date().getFullYear(),
          subtitle: "<span class='text--primary'>Lluís Malvis</span> &mdash; Acudint personalment també et poden atendre "
        },
        {divider: true, inset: true},
        {
          avatar: 'https://lh5.googleusercontent.com/-G098-9UcRws/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rchY4S3PnJBWral9raggxfldMoFJw/mo/photo.jpg',
          title: '28/3/2019',
          subtitle: "<span class='text--primary'>Denisa Marin</span> &mdash; He intentat demanar cita amb la directora del centre però m'ha estat impossible"
        },
        {divider: true, inset: true},
        {
          avatar: 'https://lh3.googleusercontent.com/-47q316Ma2OM/AAAAAAAAAAI/AAAAAAAA-f4/HfgvmhLHkT4/photo.jpg',
          title: '26/3/2019',
          subtitle: "<span class='text--primary'>Lluís Malvis</span> &mdash; Les instal·lacions estan netes i el personal és molt amable"
        } ] */

    }
  },
  methods: {
    obteAvatar (email) {
      firebase.firestore().collection('usuarios').where('mail', '==', email).get().then(resultss => {
        resultss.forEach(docs => {
          console.log(docs)
          return docs.avatar
        })
      }).catch(err => {
        console.log('Error getting documents', err)
      })
    },
    addComment () {
      var equipamentid = parseInt(this.$route.params.id)
      firebase.firestore().collection('posts').add(
        {
          message: this.comentari,
          usuari_id: firebase.auth().currentUser.email,
          equipament_id: equipamentid,
          data: new Date(),
          avatar: firebase.auth().currentUser.photoURL,
          displayName: firebase.auth().currentUser.displayName
        }

      )
      this.comentari = ''
      this.obteComments()
      // location.reload()
    },
    obteComments () {
      var equipamentid = parseInt(this.$route.params.id)
      var arrayComments = [{header: 'Comentaris'}]
      firebase.firestore().collection('posts').where('equipament_id', '==', equipamentid).get().then(results => {
        results.forEach(doc => {
          var date = new Date(doc.data().data.seconds * 1000)
          var elem = {
            avatar: doc.data().avatar,
            title: this.$moment(date).format('DD/MM/YYYY HH:mm:ss'),
            subtitle: '<span class=\'text--primary\'>' + doc.data().displayName + '</span> &mdash; ' + doc.data().message
            // data: doc.data().data
          }
          arrayComments.push(elem)
        })
        //        return arrayComments

        if (arrayComments.length > 1) { this.items = arrayComments }
      })
    }
  }
}
</script>

<style scoped>

</style>
