<template>
<div id="favorits">
  <v-container fluid grid-list-md>
  <v-layout row>
    <v-flex d-flex xs12 sm6 md6>
      <v-card color="">
        <v-list>
          <v-list-tile
            v-for="item in items"
            :key="item.data().equipament_id"
            avatar
            @click="obteInfoResidencia(item.data().equipament_id)"
          >
            <v-list-tile-action>
              <v-icon color="blue">favorite</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title v-text="item.data().nomresidencia"></v-list-tile-title>
            </v-list-tile-content>

            <!--v-list-tile-avatar @click="esborraFavorit(item.id)"-->
            <v-list-tile-avatar @click="dialog = true; dialogItem =item.id">
              <v-icon large color="red darken-2">delete_forever</v-icon>
            </v-list-tile-avatar>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
    <v-flex d-flex xs12 sm6 md6 v-if="mostraDetall">
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title color="teal lighten-3" dark fixed>
            <h2>{{nomResi}}</h2>
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-img
          src="https://www.sanitas.es/sanitasresidencial/media/mayo/imagen/original/img_habitacion_doble_tipo/habitacion-doble-tipo.jpg"
          height="300px"
        >
          <v-layout
            column
            fill-height
          > <v-card-title>

          </v-card-title>

            <v-spacer></v-spacer>

            <v-card-title class="black--text pl-6 pt-5">
              <div class="display-1 pl-5 pt-5"></div>
            </v-card-title>
          </v-layout>
        </v-img>

        <v-list two-line>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="primary">info</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{nomResi}}</v-list-tile-title>
              <v-list-tile-sub-title>Nom centre</v-list-tile-sub-title>
            </v-list-tile-content>

          </v-list-tile>

          <v-list-tile >
            <v-list-tile-action></v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{tipus_residencia}}</v-list-tile-title>
              <v-list-tile-sub-title>Tipus de centre</v-list-tile-sub-title>
            </v-list-tile-content>

          </v-list-tile>

          <v-divider inset></v-divider>
          <v-list-tile :href=truc>
            <v-list-tile-action >
              <v-icon color="primary">phone</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{telefon}}</v-list-tile-title>
              <v-list-tile-sub-title>Telèfon</v-list-tile-sub-title>
            </v-list-tile-content>

            <!--v-list-tile-action>
              <v-icon>chat</v-icon>
            </v-list-tile-action-->
          </v-list-tile>
          <v-divider inset></v-divider>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="primary">location_on</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{adreca}}</v-list-tile-title>
              <v-list-tile-sub-title>{{barri}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <v-card>
      <v-card-title
        class="headline white--text red lighten-2"
        secondary-title
      >
        Alerta
      </v-card-title>

      <v-card-text class="text" >
        Estàs a punt d'esborrar un centre com a favorit. Estàs Segur?
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
          color="primary"
          flat
          @click="dialog = false"
        >
          Cancel
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="esborraFavorit(dialogItem); dialog = false; this.obteResidenciesFavorits"
        >
          Accept
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'Favorits',
  props: {
    residenciesFavorites: null
  },
  data () {
    return {
      items: [],
      nomResi: '',
      adreca: '',
      barri: '',
      telefon: '',
      truc: '',
      logged: firebase.auth().currentUser,
      tipus_residencia: '',
      mostraDetall: false,
      dialog: false,
      dialogItem: null
      /* items: [{icon: true, title: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg'},
        {icon: true, title: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg'},
        {icon: true, title: 'Jason Oner', avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg'}
      ] */
    }
  },
  methods: {
    obteInfoResidencia (equipamentid) {
      var Resi = JSON.parse(localStorage.getItem('residenciesGeriatriques')).filter(obj => obj._CODI_EQUIPAMENT === equipamentid.toString())
      this.nomResi = Resi[0]._EQUIPAMENT
      this.adreca = Resi[0]._TIPUS_VIA + '. ' + Resi[0]._NOM_CARRER + ', ' + Resi[0]._NUM_CARRER_1 + (Resi[0]._NUM_CARRER_2 != null ? '-' + Resi[0]._NUM_CARRER_2 : '')
      this.barri = Resi[0]._NOM_DISTRICTE + ' (0' + Resi[0]._CODI_POSTAL + ')'
      this.telefon = Resi[0]._TELEFON_NUM
      this.truc = 'tel:' + Resi[0]._TELEFON_NUM
      this.tipus_residencia = (Resi[0]._TIPUS_RESIDENCIA === 'residencia' ? 'Residència' : 'Centre de dia')
      this.mostraDetall = true
    },
    obteResidenciesFavorits () {
      var usuari = firebase.auth().currentUser.email
      var favorits = []
      firebase.firestore().collection('favorits').where('usuari_id', '==', usuari).get().then(results => {
        results.forEach(doc => {
          // console.log(doc.data())
          favorits.push(doc)
        })
      })
      this.items = favorits
    },
    esborraFavorit (id) {
      firebase.firestore().collection('favorits').doc(id).delete()

      return this.obteResidenciesFavorits()
    }
  },
  created () {
    this.obteResidenciesFavorits()
  }

}

</script>

<style scoped>

</style>
