<template>
    <div>
      <v-container fluid grid-list-xl>
      <v-layout wrap align-center justify-center>
        <!--v-flex xs12 sm6 d-flex>
          <v-select
            :items="tipusCentre"
            label="Tipus de centre"
            solo
          >Tipus de centre</v-select>
        </v-flex>
        <v-flex xs12 sm6 d-flex>
          <v-select
            :items="codiPostal"
            label="Codi postal"
            solo
          >Tipus de centre</v-select>
        </v-flex-->
        <v-flex xs12 sm8 d-flex>
          <v-autocomplete
            v-model="model"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            item-text = "_EQUIPAMENT"
            item-value = "_CODI_EQUIPAMENT"
            cache-items
            hide-no-data
            hide-details
            label="Cerca per residència"
            solo
            @blur="focusResidencia"
          ></v-autocomplete>
        </v-flex>
      </v-layout>
      </v-container>
    </div>
</template>

<script>
export default {
  name: 'Filtres',
  data: () => ({
    tipusCentre: ['Centre de dia', 'Residencia'],
    codiPostal: ['08011', '08021'],
    loading: false,
    items: [],
    search: null,
    model: null,
    states: [
      'Alabama',
      'Alaska',
      'American Samoa',
      'Arizona',
      'Arkansas',
      'California',
      'Colorado',
      'Connecticut',
      'Delaware']
  }),
  watch: {
    search (val) {
      val && val !== this.model && this.querySelections(val)
    },
    selected () {
      console.log('selecciona litem' + this.model)
      this.items = []
      this.showInfoResidencia(this.model)
    }
  },
  methods: {
    querySelections (v) {
      this.loading = true
      this.items = JSON.parse(localStorage.getItem('residenciesGeriatriques'))
      // Simulated ajax query
      setTimeout(() => {
        // JSON.parse(localStorage.getItem('residenciesGeriatriques')).filter(obj => obj._CODI_EQUIPAMENT === result.equipament_id)
        this.items = this.items.filter(e => {
          return (e._EQUIPAMENT || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
        })
        this.loading = false
      }, 500)
    },
    focusResidencia () {
      console.log(this.model)
      // this.$router.push('/residencia/' + this.model)
      /* const marker = {
        lat: this.items[0]._LATITUD,
        lng: this.items[0]._LONGITUD
      }
      console.log(marker)
      this.$parent.$data.center = marker */
      this.items = JSON.parse(localStorage.getItem('residenciesGeriatriques'))
      this.$parent.filtre = false
      // this.showInfoResidencia(this.model)
      this.$router.push(/residencia/ + this.model)
    }
  }
}
</script>

<style scoped>

</style>
