<template>
  <div>
    <!--div>
      <h2>Search and add a pin</h2>
      <label>
        <gmap-autocomplete
          @place_changed="setPlace">
        </gmap-autocomplete>
        <button @click="addMarker">Add</button>
      </label>
      <br/>

    </div-->
    <br>
    <gmap-map
      :center="center"
      :zoom="15"
      style="width:100%;  height: 400px;"
      class="map"
    >
      <div id="mapLegend">
        <h2>Legend</h2>
      </div>
      <!--gmap-info-window
        :options="infoOptions"
        :position="infoPosition"
        :opened="infoOpened"
        :content="infoContent"
        @closeclick="infoOpened=false">
      </gmap-info-window-->
      <gmap-marker
        v-for="marker in markers"
        :key="marker.id"
        :title="marker.title"
        :animation="2"
        :icon="marker.icon"
        :clickable="true"
        :position="marker.position"
        @click="showInfoResidencia(marker)">
      </gmap-marker>
      <!--gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.POSITION"
        @click="center=m.POSITION"
      ></gmap-marker-->
    </gmap-map>
  </div>
</template>

<script>
import {APIService} from '../classes/APIService'
export default {
  name: 'GoogleMap',
  data () {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      // center: {lat: 45.508, lng: -73.587},
      center: {lat: 41.3887901, lng: 2.1589899},
      markers: [],
      places: [],
      currentPlace: null,
      filtre: true
    }
  },
  mounted () {
    this.geolocate()
    this.mostraResidencies()
  },
  created () {
    // this.mostraResidencies()
  }, /*,  computed: {
    markers: function () {
      return marcadors
    }
  } */
  methods: {
    // receives a place object via the autocomplete component
    setPlace (place) {
      this.currentPlace = place
    },
    addMarker () {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.markers.push({position: marker})
        this.places.push(this.currentPlace)
        this.center = marker
        this.currentPlace = null
      }
    },
    centerPlace (marker) {
      this.center = marker
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    },
    mostraResidencies: function () {
      var api = new APIService()
      // APIService.constructor()

      // eslint-disable-next-line no-unused-vars
      var residencies = api.obteTotesResidencies()
      let markers = []
      residencies.forEach(function (value) {
        let marker = {
          id: value._CODI_EQUIPAMENT,
          position: {
            lat: parseFloat(value._LATITUD),
            lng: parseFloat(value._LONGITUD)
          },
          title: value._EQUIPAMENT,
          icon: (value._TIPUS_RESIDENCIA === 'centreDeDia' ? 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' : '')

        }
        markers.push(marker)
      })
      this.markers = markers
    },
    showInfoResidencia (marker) {
      // ResidenciaForm.methods.obteResidencia(marker.id)
      this.$router.push(/residencia/ + marker.id)
    }
  }
}
</script>

<style scoped>

</style>
