<template>
<div>

<google-map></google-map>
</div>
</template>

<script>
import GoogleMap from './GoogleMap'

export default {
  name: 'Home',
  components: {GoogleMap},
  data: () => ({
    filtre: true
  })
}
</script>

<style scoped>

</style>
