<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Login or SignUp</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <span>Source</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <v-btn color="" @click="loginGoogle">
          <h3>Inicia sessió amb Google  <v-icon color="red">mdi-google-plus</v-icon></h3>
        </v-btn>
          <v-btn color="" @click="loginFirebase">
            <h3>Inicia sessió amb Firebase UI</h3>
          </v-btn>
           <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-sizes-->
          <br><br>
        <h3>O introdueix les teves dades:</h3>
            <v-form>
              <v-text-field prepend-icon="person" v-model="mail" name="login" label="Email" type="text"></v-text-field>
              <v-text-field prepend-icon="lock" v-model="pass" name="password" label="Password" id="password" type="password"></v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="primary" @click="login">Login</v-btn>
        </v-card-actions>
        <v-divider></v-divider>
        <v-card-actions>
          <h3>Si no sou usuaris, podeu registrar-vos aquí </h3>
          <v-spacer></v-spacer>
          <v-btn color="info" @click="registre">Registre</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
/* eslint-disable */
import firebaseAuth from 'firebase'


export default {
  name: 'Login',
  props:{
    usuari:String,
    logat: Boolean
  },
  data() {
    return {
      mail: '',
      pass: ''
    }
  },
  methods: {
    loginGoogle: function () {
      var provider = new firebaseAuth.auth.GoogleAuthProvider()
      firebaseAuth.auth().useDeviceLanguage()
      firebaseAuth.auth().signInWithPopup(provider).then(function (result) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user

        let usuari=user.email
        let logat=user.emailVerified

        this.$router.push('/home')

        //cerca si existeix

        //si no existeix, creal a la bdd


        //alert('usuari : '+firebaseAuth.auth().currentUser.displayName+' autenticat')

        // ...
      }).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message
        // The email of the user's account used.
        var email = error.email
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential
        // ...
      })
    },
    login: function () {

      firebaseAuth.auth().signInWithEmailAndPassword(this.mail, this.pass).then(function (user) {
        alert("Autenticat correctament");
          this.$router.push('/')

      },
      function (error) {
        alert("Problema en l'autenticació");
      })



    },
    registre: function () {
      this.$router.push('/signup')
    },
    loginFirebase:function () {
      this.$router.push('/loginUI')
    }
  }
}
</script>

<style scoped>

</style>
