<template>
  <div>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Sign in</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
    <div id="firebaseui-auth-container"></div>
          <br>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import firebase from 'firebase'
import firebaseui from 'firebaseui'
// import '../../node_modules/firebaseui/dist/firebaseui.css'
import '../../../node_modules/firebaseui/dist/firebaseui.css'
// import { config } from '../../main'

export default {
  name: 'LoginUI',
  mounted () {
    // let self = this
    let uiConfig = {
      signInSuccessUrl: '/success',
      signInOptions: [
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
        firebase.auth.FacebookAuthProvider.PROVIDER_ID,
        firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        firebase.auth.TwitterAuthProvider.PROVIDER_ID,
        firebase.auth.GithubAuthProvider.PROVIDER_ID
      ],
      callbacks: {
        signInSuccessWithAuthResult () {
          localStorage.setItem('authenticated', true)
          var user = firebase.auth().currentUser

          afegeixUsuari(user.email, user.photoURL, user.displayName)
          console.log(user)
          window.location.href = '/'
          // insereix usuari a firestore
        }
      }
    }
    var ui = new firebaseui.auth.AuthUI(firebase.auth())
    ui.start('#firebaseui-auth-container', uiConfig)
  }
}

// eslint-disable-next-line no-unused-vars
function afegeixUsuari (mail, avatar, displayName) {
  var docData = {
    nombre: displayName,
    identificador: mail,
    mail: mail,
    avatar: avatar }
  firebase.firestore().collection('usuarios').add(docData).then(function () {
    console.log('Document successfully written!')
  }).catch(function (error) {
    console.error('Error writing document: ', error)
  })
}
</script>

<style scoped>

</style>
