<template>
  <div id="profile">
    <v-layout align-center justify-center>
      <v-flex xs12 sm6 md4>

    <form>
      <v-text-field
        label="Nom complet"
        required
        v-model="displayNom"
      ></v-text-field>
      <v-text-field
        label="E-mail"
        required
        v-model="mail"
      ></v-text-field>
      <input type="file" @change="processFile($event)" label='Avatar' >
      <v-spacer></v-spacer>
      <br>
      <v-btn @click="submit">Actualitza</v-btn>
      <v-btn @click="clear">Cancel</v-btn>
    </form>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Profile',
  data () {
    return {
      displayNom: '',
      mail: ''

    }
  },
  methods: {
    processFile (event) {
      this.someData = event.target.files[0]
    },
    submit () {

    },
    clear () {

    }
  },
  mounted () {
    this.displayNom = firebase.auth().currentUser.displayName
    this.mail = firebase.auth().currentUser.email
  }
}
</script>

<style scoped>

</style>
