<template>
<div id="Residencia">
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md8>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title color="teal lighten-3" dark fixed>
            <h2>{{nomResi}}</h2>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn  v-if="logged" fab dark small :color="favoritItem" @click="toogleFavorits">
            <v-icon dark>favorite</v-icon>
          </v-btn>
        </v-toolbar>
        <v-img
          src="https://www.sanitas.es/sanitasresidencial/media/mayo/imagen/original/img_habitacion_doble_tipo/habitacion-doble-tipo.jpg"
          height="300px"
        >
          <v-layout
            column
            fill-height
          > <v-card-title>

          </v-card-title>

            <v-spacer></v-spacer>

            <v-card-title class="black--text pl-6 pt-5">
              <div class="display-1 pl-5 pt-5"></div>
            </v-card-title>
          </v-layout>
        </v-img>

        <v-list two-line>

          <v-list-tile>
            <v-list-tile-action>
              <v-icon color="primary">info</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{nomResi}}</v-list-tile-title>
              <v-list-tile-sub-title>Nom centre</v-list-tile-sub-title>
            </v-list-tile-content>

          </v-list-tile>

          <v-list-tile >
            <v-list-tile-action></v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{tipus_residencia}}</v-list-tile-title>
              <v-list-tile-sub-title>Tipus de centre</v-list-tile-sub-title>
            </v-list-tile-content>

          </v-list-tile>

          <v-divider inset></v-divider>
          <v-list-tile :href=truc>
            <v-list-tile-action >
              <v-icon color="primary">phone</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{telefon}}</v-list-tile-title>
              <v-list-tile-sub-title>Telèfon</v-list-tile-sub-title>
            </v-list-tile-content>

            <!--v-list-tile-action>
              <v-icon>chat</v-icon>
            </v-list-tile-action-->
          </v-list-tile>
          <v-divider inset></v-divider>

          <v-list-tile @click="mapa = !mapa">
            <v-list-tile-action>
              <v-icon color="primary">location_on</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{adreca}}</v-list-tile-title>
              <v-list-tile-sub-title>{{barri}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <div v-show="mapa">
        <v-divider></v-divider>
          <gmap-map
            :center="center"
            :zoom="17"
            style="width:100%;  height: 300px;"
            class="map"
          >
            <gmap-marker :position="marker.position"
                         :key="marker.id"
                         :title="marker.title"></gmap-marker>
          </gmap-map>
        </div>
        <v-divider></v-divider>
        <starrating v-if="logged"></starrating>
        <v-divider></v-divider>
        <comments v-if="logged"></comments>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>
<script>

import Starrating from './Starrating'
import Comments from './Comments'
import firebase from 'firebase'

export default {
  name: 'Residencia',
  components: {Comments, Starrating},
  data () {
    var residencia = obteResidencia(this.$route.params.id)
    return {
      nomResi: residencia._EQUIPAMENT,
      adreca: residencia._TIPUS_VIA + '. ' + residencia._NOM_CARRER + ', ' + residencia._NUM_CARRER_1 + (residencia._NUM_CARRER_2 != null ? '-' + residencia._NUM_CARRER_2 : ''),
      barri: residencia._NOM_DISTRICTE + ' (0' + residencia._CODI_POSTAL + ')',
      telefon: residencia._TELEFON_NUM,
      truc: 'tel:' + residencia._TELEFON_NUM,
      logged: firebase.auth().currentUser,
      tipus_residencia: (residencia._TIPUS_RESIDENCIA === 'residencia' ? 'Residència' : 'Centre de dia'),
      favoritItem: '',
      mapa: false,
      center: {
        lat: parseFloat(residencia._LATITUD),
        lng: parseFloat(residencia._LONGITUD)
      },
      marker: {
        id: residencia._CODI_EQUIPAMENT,
        position: {
          lat: parseFloat(residencia._LATITUD),
          lng: parseFloat(residencia._LONGITUD)
        },
        title: residencia._EQUIPAMENT
      }
    }
  },
  methods: {
    addFavorits () {
      var equipamentid = parseInt(this.$route.params.id)
      var nomResi = JSON.parse(localStorage.getItem('residenciesGeriatriques')).filter(obj => obj._CODI_EQUIPAMENT === equipamentid.toString())
      firebase.firestore().collection('favorits').add(
        {
          usuari_id: firebase.auth().currentUser.email,
          equipament_id: equipamentid,
          nomresidencia: nomResi[0]._EQUIPAMENT
        }
      )
    },
    toogleFavorits () {
      if (this.favoritItem === '') {
        this.addFavorits()
        this.favoritItem = 'pink'
      } else {
        this.deleteFavorit()
        this.favoritItem = ''
      }

      // this.favoritItem = (this.obteFavorits() ? 'pink' : '')
    },
    deleteFavorit () {
      var equipamentid = parseInt(this.$route.params.id)
      firebase.firestore().collection('favorits').where('usuari_id', '==', firebase.auth().currentUser.email).where('equipament_id', '==', equipamentid).get().then(results => {
        results.forEach(doc => {
          doc.ref.delete()
        })
      }).catch(err => {
        console.log('Error getting documents', err)
      })
    },
    obteFavorits () {
      var equipamentid = parseInt(this.$route.params.id)
      var usuari = firebase.auth().currentUser.email
      var estaComFavorit = false
      firebase.firestore().collection('favorits').where('usuari_id', '==', usuari).get().then(results => {
        results.forEach(
          doc => {
            if (doc.exists && (doc.data().equipament_id === equipamentid)) {
              estaComFavorit = true
            }
          })
        if (estaComFavorit) this.favoritItem = 'pink'
      }).catch(err => {
        console.log('Error getting documents', err)
      })
    }
  },
  created () {
    var teComFavorit = obteFavoritsFunction(this.$route.params.id)
    console.log(teComFavorit)
  },
  mounted () {
    this.obteFavorits()
    // var teComFavorit = this.obteFavorits()
    // this.favoritItem = (teComFavorit ? 'pink' : '')
  }
}
function obteResidencia (id) {
  var residencies = JSON.parse(localStorage.getItem('residenciesGeriatriques'))

  for (var i = 0; i < residencies.length; i++) {
    if (residencies[i]._CODI_EQUIPAMENT === id) {
      return residencies[i]
    }
  }
  return null
}

function obteFavoritsFunction (value) {
  var equipamentid = parseInt(value)
  var usuari = firebase.auth().currentUser.email
  firebase.firestore().collection('favorits').where('usuari_id', '==', usuari).where('equipament_id', '==', equipamentid).get().then(results => {
    results.forEach(
      doc => {
        if (doc.exists) {
          return true
        }
      })
  }).catch(err => {
    console.log('Error getting documents', err)
  })
}
</script>

<style scoped>

</style>
