<template>
<div>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card
          class="mb-5"
          color="lighten-1"
          height="500px"
        >
        <v-form v-model="valid">
            <v-layout>
              <v-flex
                xs12
                sm12
                md4
              >
                <v-text-field
                  v-model="firstname"
                  label="First name"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="lastname"
                  label="Last name"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-text-field
                  type="password"
                  v-model="password"
                  label="Contrasenya"
                  required
                  :rules="[rules.required, rules.min]"
                ></v-text-field>

                <v-text-field
                  type="password"
                  v-model="repassword"
                  label="Confirma contrasenya"
                  :rules="[rules.required, rules.min, rules.Match]"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
        </v-form>
        </v-card>
        <v-btn
          color="primary"
          @click="validation"
        >
          Continue
        </v-btn>
        <v-btn flat onclick="redirecciona('/')">Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        >
          <input
            type="file"
            style="display: none"
            ref="image"
            accept="image/*"
          />
        </v-card>
        <v-btn
          color="primary"
          @click="nouUsuari"> Continue</v-btn>
        <v-btn flat @click="e1= 1">Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</div>
</template>

<script>

import firebaseAuth from 'firebase'

export default {
  name: 'Signup',
  data: () => ({
    e1: 0,
    valid: false,
    firstname: '',
    lastname: '',
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      // v => /.+@.+/.test(v) || 'E-mail must be valid'
      v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
    ],
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      Match: () => this.password === this.repassword || ('The email and password you entered don\'t match')
    },
    password: '',
    repassword: ''
    // reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
  }),
  methods: {
    nouUsuari () {
      // DBService.nouUsuari()
      firebaseAuth.auth().createUserWithEmailAndPassword(this.email, this.password).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code
        var errorMessage = error.message

        console.log('ERROR ' + errorCode + ', ' + errorMessage)
      })
      console.log((firebaseAuth.auth().currentUser))
      this.$router.push('/')
    },
    redirecciona: function (item) {
      this.$router.push(item)
    },
    validation () {
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      this.e1 = (pattern.test(this.email) && (this.password === this.repassword) ? 2 : 1)
      // this.email.match(/^\w+([.-]?\w+)_@\w+(_[_.-]?\w+)_(.\w{2,3})+$/)
    }
  }
}
</script>

<style scoped>

</style>
