<template>
  <div class="text-xs-center" @click="afegeixRating">
    <v-rating
      v-model="ratingValue"
      name ="rati"
      half-increments
      hover
     @keypress="afegeixRating"
      @keydown="afegeixRating"
      @select="afegeixRating"
      @
    ></v-rating>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'Starrating',
  data () {
    return {
      ratingValue: 0
    }
  },
  methods: {
    afegeixRating () {
      var equipamentid = parseInt(this.$route.params.id)
      var actualitzat = null
      firebase.firestore().collection('rating').get().then(results => {
        results.forEach(doc => {
          if (doc.data().equipament_id === equipamentid && doc.data().usuari_id === firebase.auth().currentUser.email) {
            // actualitza

            actualitzat = doc.id
          }
        })
        if (actualitzat == null) {
          firebase.firestore().collection('rating').add(
            {
              rate: this.ratingValue,
              usuari_id: firebase.auth().currentUser.email,
              equipament_id: parseInt(equipamentid)
            }

          )
        } else {
          firebase.firestore().collection('rating').doc(actualitzat).set({
            rate: this.ratingValue,
            usuari_id: firebase.auth().currentUser.email,
            equipament_id: parseInt(equipamentid)
          })
        }
      })
    },
    obteRating () {
      var equipamentid = parseInt(this.$route.params.id)
      var mitjana = 0
      var count = 0

      firebase.firestore().collection('rating').get().then(results => {
        results.forEach(doc => {
          if (doc.data().equipament_id === equipamentid) {
            mitjana = mitjana + doc.data().rate
            count++
          }
        })
        this.ratingValue = (mitjana / count)
      })
    }
  },
  mounted () {
    this.obteRating()
  }

}</script>

<style scoped>

</style>
