<template>
  <v-footer class="pa-3">
    <span>Llar d'avis BCN</span>
    <v-spacer></v-spacer>
    <div>Lluís Malvis &copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent'
}
</script>

<style scoped>

</style>
