<template>
  <div>
  <v-navigation-drawer app v-model="drawer">
      <v-list dense>
        <v-list-tile @click="redirecciona('/')">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="redirecciona('/profile')" v-show="logged">
          <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Perfil</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="redirecciona('/favorits')" v-show="logged">
          <v-list-tile-action>
            <v-icon>favorite</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Favorits</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="redirecciona('/notifications')" v-show="logged">
          <v-list-tile-action>
            <v-icon>notification_important</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Notificacions</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
  </v-navigation-drawer>
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer" v-show="logged"></v-toolbar-side-icon>
      <v-toolbar-title>Llar d'avis BCN</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="filtre = !filtre">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon @click="redirecciona('/')">
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon to="/loginUI" v-show="!logged">
        <v-icon>perm_identity</v-icon>
      </v-btn>
      <v-btn icon v-show="logged" @click="logout">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <filtres v-show="filtre"></filtres>
  </div>
</template>

<script>
import firebaseAuth from 'firebase'
import Filtres from '../content/Filtres'

export default {
  name: 'Header',
  components: {Filtres},
  data: () => ({
    drawer: false,
    logged: firebaseAuth.auth().currentUser,
    snackbar: false,
    snackbarText: 'Això es una prova del text que es mostrarà',
    filtre: false
  }),
  methods: {
    redirecciona: function (item) {
      this.$router.push(item)
    },
    logout: function () {
      firebaseAuth.auth().signOut()
      this.$router.push('/')
      location.reload()
    }
  }
}

</script>

<style scoped>

</style>
