<template>
  <div id="app">
  <v-app>
    <header-component></header-component>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
   <footer-component></footer-component>
  </v-app>
  </div>
</template>

<script>
import HeaderComponent from '@/components/common/HeaderComponent'
import FooterComponent from '@/components/common/FooterComponent'

export default {
  name: 'App',
  components: {HeaderComponent, FooterComponent},
  user: null,
  logat: false
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
